*.o
*.a
.qmake.stash
Makefile
moc_*.cpp
*.vcxproj
*.vcxproj.filters
*.sqlite
*.DS_Store
res.txt

examples/authorize/authorize
examples/gdrivebash/gdrivebash
examples/gmailbash/gmailbash
examples/gtaskbash/gtaskbash
examples/token.info
examples/app.info
examples/gmailbash/data/

